// sass-lint:disable force-element-nesting
@import '../../scss/variables';
@import '../../scss/classes';

.ui.modal.app-note-modal-container {
  // left: 50%;
  // margin: 0 0 0 (-$app-note-modal-container-width / 2);
  // position: fixed;
  // top: 50%;
  // width: $app-note-modal-container-width;
  // z-index: 1001;

  textarea {
    margin-top: 1rem;
  }

  .ui.label.app-checkbox-label {

    border-radius: $app-note-modal-color-checkbox-width / 2;
    height: $app-note-modal-color-checkbox-width;
    margin: .2rem;
    padding: 0;
    width: $app-note-modal-color-checkbox-width;

    &:hover {
      cursor: pointer;
    }

    label {
      &::before,
      &::after {
        display: none;
      }
    }
  }

  .ui.label.app-modal-category-title {
    @extend %app-modal-item;
    margin-top: .5rem;

    &:hover {
      cursor: pointer;
    }

    &::first-letter {
      text-transform: capitalize;
    }

    .ui.checkbox {
      display: none;
    }
  }

  %app-modal-item {
    height: 2.5rem;
    line-height: 2.5rem;
    margin: .5rem .5rem .5rem 0;
    padding: 0 .5rem;
  }

  .app-modal-label {
    @extend %app-modal-item;

    &.app-tags-category {
      margin-right: 1rem;
    }

    &.required {
      &::after {
        color: $app-red-color;
        content: '*';
        margin: -.2em 0 0 .2em;
      }
    }

    &.app-categories {
      margin-right: 1rem;
    }
  }

  .app-modal-input {
    @extend %app-modal-item;
    margin-right: 0;
    padding: 0 .5rem 0 0;

    &.app-tag-input {
      padding-right: 0;
    }

    &.app-tag-input > input {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .app-modal-button {
    @extend %app-modal-item;
    padding: 0 1.5rem;
  }

  .fields {
    flex-wrap: wrap;
    margin: 0;
  }

  .limited-height {
    max-height: $app-note-modal-limited-height;
    overflow: auto;
  }

  .app-required-text {
    color: $app-grey-color;
    font-size: .8rem;
    font-style: italic;
    padding-left: .5rem;

    &::before {
      color: $app-red-color;
      content: '*';
      margin: -.2em 0 0 .2em;
    }
  }

}

@media all and (max-width: 767px) {
  .ui.modal.app-note-modal-container {
    margin: 0 0 0 -45.5%;
    width: 91%;
  }
}
