// sass-lint:disable force-element-nesting
@import '../../scss/variables';

%app-note-title-element {
  height: $app-title-height;
  line-height: $app-title-height;
}

.ui.app-note-container {
  margin: $app-note-margin;
  width: $app-note-container-width;

  &:first-child,
  &:last-child {
    margin: $app-note-margin;
  }

  %app-note-icon {
    @extend %app-note-title-element;
    margin-left: 90%;
    margin-top: $app-title-height / 2;
    opacity: .5;
    position: absolute;
    width: $app-title-height;
    z-index: 100;

    &:hover {
      cursor: pointer;
      opacity: 1;
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
    }
  }

  .app-note-trash-icon {
    @extend %app-note-icon;

    &:hover {
      color: $app-red-color;
    }
  }

  .app-note-edit-icon {
    @extend %app-note-icon;
    margin-left: 80%;

    &:hover {
      color: $app-blue-color;
    }
  }

  .app-note-expand-icon {
    @extend %app-note-icon;
    margin-left: 70%;

    &:hover {
      color: $app-black-color;
    }
  }

  .app-note-title-container {
    padding: 1rem;

    &:hover {
      background-color: $app-note-title-hover-color;
      cursor: pointer;
    }

    .app-note-title-text {
      @extend %app-note-title-element;
      word-wrap: break-word;
    }
  }

  .app-note-info {
    display: none;

    .app-note-text {
      //
    }

    .app-note-tags {
      .label {
        font-size: .7rem;
      }
    }

    .hidden {
      display: none;
    }

    &.expanded {
      display: block;
    }
  }

  &.full {
    margin: 0 auto;
    max-width: $app-note-container-full-width;
    width: 100%;

    .app-note-title-container {
      border-radius: $app-border-radius;

      &:hover {
        background-color: unset;
        cursor: auto;
      }
    }

    .app-note-edit-icon {
      margin-left: 85%;
    }

    .app-note-trash-icon {
      margin-left: 90%;
    }

    .app-note-close-icon {
      @extend %app-note-icon;
      margin-left: 95%;

      &:hover {
        color: $app-black-color;
      }
    }

    .app-note-tags {
      .label {
        font-size: .85rem;
      }
    }

  }

}

@media all and (max-width: 500px) {
  .ui.app-note-container {

    &.full {

      .app-note-edit-icon {
        margin-left: 78%;
      }

      .app-note-trash-icon {
        margin-left: 85%;
      }

      .app-note-close-icon {
        margin-left: 92%;
      }

      .app-note-tags {
        .label {
          font-size: .7rem;
        }
      }

    }

  }
}