.ui.app-note-container .app-note-trash-icon, .ui.app-note-container .app-note-edit-icon, .ui.app-note-container .app-note-expand-icon, .ui.app-note-container.full .app-note-close-icon, .ui.app-note-container .app-note-title-container .app-note-title-text {
  height: 2rem;
  line-height: 2rem; }

.ui.app-note-container {
  margin: 0.5rem;
  width: 18.9rem; }
  .ui.app-note-container:first-child, .ui.app-note-container:last-child {
    margin: 0.5rem; }
  .ui.app-note-container .app-note-trash-icon, .ui.app-note-container .app-note-edit-icon, .ui.app-note-container .app-note-expand-icon, .ui.app-note-container.full .app-note-close-icon {
    margin-left: 90%;
    margin-top: 1rem;
    opacity: .5;
    position: absolute;
    width: 2rem;
    z-index: 100; }
    .ui.app-note-container .app-note-trash-icon:hover, .ui.app-note-container .app-note-edit-icon:hover, .ui.app-note-container .app-note-expand-icon:hover, .ui.app-note-container.full .app-note-close-icon:hover {
      cursor: pointer;
      opacity: 1;
      transform: scale(1.1); }
    .ui.app-note-container .app-note-trash-icon:active, .ui.app-note-container .app-note-edit-icon:active, .ui.app-note-container .app-note-expand-icon:active, .ui.app-note-container.full .app-note-close-icon:active {
      transform: scale(1); }
  .ui.app-note-container .app-note-trash-icon:hover {
    color: #db2828; }
  .ui.app-note-container .app-note-edit-icon {
    margin-left: 80%; }
    .ui.app-note-container .app-note-edit-icon:hover {
      color: #2185d0; }
  .ui.app-note-container .app-note-expand-icon {
    margin-left: 70%; }
    .ui.app-note-container .app-note-expand-icon:hover {
      color: #1b1c1d; }
  .ui.app-note-container .app-note-title-container {
    padding: 1rem; }
    .ui.app-note-container .app-note-title-container:hover {
      background-color: #f3f4f5;
      cursor: pointer; }
    .ui.app-note-container .app-note-title-container .app-note-title-text {
      word-wrap: break-word; }
  .ui.app-note-container .app-note-info {
    display: none; }
    .ui.app-note-container .app-note-info .app-note-tags .label {
      font-size: .7rem;
      margin-right: .5rem;
      margin-top: .2rem; }
    .ui.app-note-container .app-note-info .hidden {
      display: none; }
    .ui.app-note-container .app-note-info.expanded {
      display: block; }
  .ui.app-note-container.full {
    margin: 0 auto;
    max-width: 54.7rem;
    width: 100%; }
    .ui.app-note-container.full .app-note-title-container {
      border-radius: 5px; }
      .ui.app-note-container.full .app-note-title-container:hover {
        background-color: unset;
        cursor: auto; }
    .ui.app-note-container.full .app-note-edit-icon {
      margin-left: 85%; }
    .ui.app-note-container.full .app-note-trash-icon {
      margin-left: 90%; }
    .ui.app-note-container.full .app-note-close-icon {
      margin-left: 95%; }
      .ui.app-note-container.full .app-note-close-icon:hover {
        color: #1b1c1d; }
    .ui.app-note-container.full .app-note-tags .label {
      font-size: .85rem; }

@media all and (max-width: 500px) {
  .ui.app-note-container.full .app-note-edit-icon {
    margin-left: 78%; }
  .ui.app-note-container.full .app-note-trash-icon {
    margin-left: 85%; }
  .ui.app-note-container.full .app-note-close-icon {
    margin-left: 92%; }
  .ui.app-note-container.full .app-note-tags .label {
    font-size: .7rem; } }
