// sass-lint:disable force-element-nesting
@import '../../scss/variables';

.ui.modal.app-note-modal-container {
  left: 50%;
  margin: 0 0 0 (-$app-note-modal-container-width / 2);
  position: fixed;
  top: 50%;
  width: $app-note-modal-container-width;
  z-index: 1001;

  &.red {
    border: 1px solid $app-red-color;
  }

  &.black {
    border: 1px solid $app-black-color;
  }

  &.green {
    border: 1px solid $app-green-color;
  }

  &.blue {
    border: 1px solid $app-blue-color;
  }

  &.violet {
    border: 1px solid $app-violet-color;
  }

  &.teal {
    border: 1px solid $app-teal-color;
  }

  &.purple {
    border: 1px solid $app-purple-color;
  }

  &.brown {
    border: 1px solid $app-brown-color;
  }

  &.orange {
    border: 1px solid $app-orange-color;
  }

  &.pink {
    border: 1px solid $app-pink-color;
  }

  textarea {
    margin-top: 1rem;
  }

  .ui.label.app-checkbox-label {

    border-radius: $app-note-modal-color-checkbox-width / 2;
    height: $app-note-modal-color-checkbox-width;
    margin: .2rem;
    padding: 0;
    width: $app-note-modal-color-checkbox-width;

    &:hover {
      cursor: pointer;
    }

    label {
      &::before,
      &::after {
        display: none;
      }
    }
  }

  .app-modal-category-title {
    @extend %app-modal-item;

    &:hover {
      cursor: pointer;
    }

    &::first-letter {
      text-transform: capitalize;
    }

    .ui.checkbox {
      display: none;
    }
  }

  %app-modal-item {
    height: 2.5rem;
    line-height: 2.5rem;
    margin: .5rem;
    padding: 0 .5rem;
  }

  .app-modal-label {
    @extend %app-modal-item;

    &.app-categories {
      margin-right: 1rem;
    }
  }

  .app-modal-input {
    @extend %app-modal-item;
    margin-right: 0;
    padding: 0 .5rem 0 0;
  }

  .app-modal-button {
    @extend %app-modal-item;
  }

  .ui.form.fields {
    margin: 0;
  }

}

@media all and (max-width: 768px) {
  .ui.modal.app-note-modal-container {
    margin: 0 0 0 -45.5%;
    width: 91%;
  }
}
