// sass-lint:disable force-element-nesting
// sass-lint:disable no-important

@import '../../scss/variables';

.ui.page.modals.dimmer.transition.visible.active {
  padding: 1rem 0;
}

.app-activated-category {
  color: $app-black-color;
}

.ui.stackable.menu.app-categories-menu {
  border: 0;
  box-shadow: none;
  flex-wrap: wrap;
  margin: 1rem .5rem;
  padding: 0;

  .app-categories-menu-item {
    border: $app-categories-menu-border;
    box-shadow: $app-categories-menu-box-shadow;
    display: none;
    height: $app-categories-menu-height;
    padding: 0;

    &.expanded {
      display: flex;
    }

    &:hover {
      background: $app-menu-hover-color;
    }
  }

  .app-categories-menu-link {
    color: $app-black-color;
    height: $app-categories-menu-height;
    line-height: $app-categories-menu-height;
    padding: 0 2rem;

    &::first-letter {
      text-transform: capitalize;
    }

    &:hover {
      color: $app-black-color;
    }
  }

  %app-categories-menu {
    // color: $app-black-color;
    font-size: 1.5rem;
    height: $app-categories-menu-height;
    padding: 0;
    width: $app-categories-menu-height;

    .icon {
      margin: 0 auto;
    }

    &.hidden {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .app-categories-menu-logo {
    @extend %app-categories-menu;
    border: $app-categories-menu-border;
    border-radius: $app-border-radius;
    box-shadow: none;
    color: $app-main-color;

    &.expanded {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &::before {
      width: 0;
    }
  }

  .app-add-category-menu {
    @extend %app-categories-menu;
    border: $app-categories-menu-border;
    border-bottom-right-radius: $app-border-radius;
    border-top-right-radius: $app-border-radius;
    box-shadow: $app-categories-menu-box-shadow;
    display: none;
    font-size: 1rem;
    padding: 0 2rem;
    width: auto;

    &.expanded {
      display: flex;

      &.hidden {
        display: none;
      }
    }
  }

  .app-category-input-container {
    border: 0;
    border-bottom-right-radius: $app-border-radius;
    border-top-right-radius: $app-border-radius;

    &.hidden {
      display: none;
    }

    input,
    button {
      border: $app-categories-menu-border;
      border-radius: 0;
    }
  }

  %app-delete-icon {
    height: $app-categories-menu-height;
    line-height: $app-categories-menu-height;
    margin: 0;
    opacity: .2;
    position: absolute;
    right: 0;
    width: $app-categories-menu-delete-icon-width;
    z-index: 1001;

    &.hidden {
      display: none;
    }

    &:hover {
      cursor: pointer;
      opacity: .8;
    }
  }

  .icon.app-category-delete-icon {
    @extend %app-delete-icon;
    top: 0;
  }

  .icon.app-hide-input-icon {
    @extend %app-delete-icon;
    padding: 0;
  }

  .ui.button.app-add-category-button {
    border: $app-categories-menu-border;
    border-bottom-right-radius: $app-border-radius;
    border-top-right-radius: $app-border-radius;
    padding-right: 2.5rem;
  }
}

@media all and (max-width: 767px) {

  .wide.column {
    padding: 0;
  }

  .ui.app-categories-container {
    margin: 0 auto;
    max-width: $app-note-container-width * 1.2;
    padding: 0;
    width: 100%;

  }

  .ui.stackable.menu.app-categories-menu {
    margin: 0 auto;
    max-width: 400px;

    .ui.app-category-input-container {
      border-bottom-left-radius: $app-border-radius;
      border-top-right-radius: 0;
      width: 100%;

      .ui.button.app-add-category-button {
        border-top-right-radius: 0;
      }

      .input {
        width: 100%;
      }

      input {
        border-bottom-left-radius: $app-border-radius;
      }
    }

    .app-add-category-menu {
      border-bottom-left-radius: $app-border-radius;
      border-top-right-radius: 0;
    }

    .item.app-categories-menu-logo {

      width: $app-categories-menu-height !important;

      &.expanded {
        border-bottom-left-radius: 0;
        border-top-right-radius: $app-border-radius;
      }
    }

    .app-categories-menu-link {
      width: 100%;
    }

  }
}
