// sass-lint:disable force-element-nesting
@import '../../scss/variables';

.icon.app-note-add-icon {
  border: $app-note-add-icon-border;
  border-radius: $app-note-add-icon-width / 2;
  box-shadow: $app-note-add-icon-box-shadow;
  color: $app-main-color;
  display: block;
  font-size: $app-note-add-icon-font-size;
  height: $app-note-add-icon-width;
  margin: .2rem auto;
  width: $app-note-add-icon-width;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }

  &::before {
    position: relative;
    top: 1rem;
  }
}

.ui.grid {
  .column.app-categories-container {
    padding-top: 0;
  }
}

