@import 'scss/variables';

html {
  font-size: 14px;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.app-loader {
  padding-top: 4 * $basic-margin-padding;
}

img {
  max-width: 100%;
}
