// sass-lint:disable force-element-nesting
@import 'variables';

.ui.app-border-red {
  border: 1px solid $app-red-color;
}


.ui.app-border-black {
  border: 1px solid $app-black-color;
}

.ui.app-border-green {
  border: 1px solid $app-green-color;
}

.ui.app-border-blue {
  border: 1px solid $app-blue-color;
}

.ui.app-border-violet {
  border: 1px solid $app-violet-color;
}

.ui.app-border-teal {
  border: 1px solid $app-teal-color;
}

.ui.app-border-purple {
  border: 1px solid $app-purple-color;
}

.ui.app-border-brown {
  border: 1px solid $app-brown-color;
}

.ui.app-border-orange {
  border: 1px solid $app-orange-color;
}

.ui.app-border-pink {
  border: 1px solid $app-pink-color;
}
