// colors
$app-note-title-hover-color: #f3f4f5;
$app-note-add-icon-border-color: rgba(34, 36, 38, .15);
$app-note-form-info-color: rgba(0, 0, 0, .3);
$app-red-color: #db2828;
$app-green-color: #21ba45;
$app-blue-color: #2185d0;
$app-black-color: #1b1c1d;
$app-grey-color: #767676;
$app-orange-color: #f2711c;
$app-teal-color: #009c95;
$app-purple-color: #a333c8;
$app-brown-color: #a5673f;
$app-violet-color: #6435c9;
$app-pink-color: #e03997;

// base
$basic-margin-padding: 1rem;

// note
$app-note-margin: .5rem;
$app-note-container-width: 18.9rem;
$app-title-height: 2rem;
$app-note-add-icon-width: 3.5rem;
$app-note-add-icon-font-size: 1.5rem;
$app-note-add-icon-border: 1px solid $app-note-add-icon-border-color;
$app-note-add-icon-box-shadow: 0 1px 2px 0 $app-note-add-icon-border-color;

// note-modal
$app-note-modal-color-checkbox-width: 1.5rem;
$app-note-modal-container-width: 50rem;

// categories-menu
$app-categories-menu-height: 3.5rem;
$app-categories-menu-delete-icon-width: 2rem;
